---
import { getCollection } from "astro:content";
import dayjs from "dayjs";

import "../styles/global.css";

import BaseLayout from "@/layouts/base-layout.astro";

import ContactMePill from "@/components/contact-me-pill.astro";
import Link from "@/components/link.astro";
import Text from "@/components/text.astro";

import ArrowUpRightIcon from "@/icons/arrow-up-right-icon.astro";
import LetConnectIcon from "@/icons/lets-connect-icon.astro";

import { ROUTES } from "@/routes";
import type { TWork } from "@/types/work.type";

const posts = await getCollection("posts");
const totalPages = Math.ceil(posts.length / 3);
const companies = [
  {
    name: "HCL",
    logo: "/hcl-logo.png",
    designation: "Software Engineer",
    duration: "2015-2018",
    id: 1,
  },
  {
    name: "Siemens AG",
    logo: "/siemens-logo.png",
    designation: "Senior Software Engineer ",
    duration: "2018-2019",
    id: 2,
  },
  {
    name: "KPMG",
    logo: "/kpmg-logo.png",
    designation: "Software Development Consultant",
    duration: "2019-2020",
    id: 3,
  },
  {
    name: "EY",
    logo: "/ey-logo.png",
    designation: "Senior Security Consultant",
    duration: "2020-2021",
    id: 4,
  },
  {
    name: "Boeing",
    logo: "/boeing-logo.png",
    designation: "Senior Software Engineer",
    duration: "2021- Present",
    id: 5,
  },
  {
    name: "",
    logo: "",
    designation: "",
    duration: "",
    id: 6,
  },
];

const currentCompany = "The Boeing Company";
const currentCompanyLink = "https://www.boeing.com/";

const workDetails: TWork[] = [
  {
    company: "The Boeing Company",
    role: "Senior Software Developer 2",
    description:
      "Responsible for developing stable and scalable micro service. The system has a set of unique challenges from a domain and technology perspective.",
    isOnGoing: true,
    duration: {
      from: "2022-06-01",
      to: "",
    },
  },
  {
    company: "EY",
    role: "Senior Security Consultant II",
    duration: {
      from: "2022-02-01",
      to: "2022-05-31",
    },
    description: "",
    isOnGoing: false,
  },
];
---

<BaseLayout>
  <!-- intro section -->
  <div class="py-8 text-stone-300">
    <Text variant="h1" class="pb-4 text-3xl font-bold text-stone-100">
      Amit Prakash
    </Text>

    <Text class="pb-10">
      Hey, I am Amit Prakash, I build software for the world.
    </Text>

    <Text>
      Working at <Link to={currentCompanyLink}>{currentCompany}</Link>.
    </Text>

    <Text>
      Lorem ipsum dolor sit amet consectetur. At semper aliquam elit urna at sem
      facilisi eu tortor.
    </Text>

    <Text>
      Molestie ullamcorper fermentum ac <Link to="#">pharetra</Link>. Neque a
      porta vitae morbi odio egestas lectus. Felis nibh id sed congue in proin
      hendrerit urna maecenas.
    </Text>
  </div>

  <!-- prev work section -->
  <div class="pt-4 pb-6">
    <Text
      variant="span"
      class="uppercase text-stone-100 tracking pb-6 block font-medium"
    >
      places i have worked
    </Text>

    <div class="space-y-3">
      {
        workDetails.map((work) => (
          <div class="bg-stone-800 px-4 py-3 rounded-xl">
            <Text variant="h3" class="pb-1 text-stone-50 font-semibold">
              {work.company}
            </Text>

            <Text variant="p" class="pb-3 text-stone-300">
              {work.role}
            </Text>

            <Text variant="span" class="uppercase text-stone-300">
              {dayjs(work.duration.from).format("MMM YYYY")} -{" "}
              {work.duration.to.length
                ? dayjs(work.duration.to).format("MMM YYYY")
                : "Present"}
            </Text>
          </div>
        ))
      }
    </div>
  </div>

  <!-- blogs -->
  <div class="text-stone-300 pb-6">
    <Text>
      Over the past decade, I've written content on my blog and newsletter. I
      try to keep things simple. You'll find writing about technologies I'm
      interested in at the time, or how I'm learning and growing in my career,
      sharing knowledge along the way.
    </Text>

    {
      posts.slice(0, 3).map((post) => (
        <div class="py-4 first:pt-0 last:pb-0 border-b border-gray-800 last:border-none">
          <Text variant="h4" class="text-stone-50 text-lg font-semibold pb-2">
            <Link
              to={`${ROUTES.blog}/${post.slug}`}
              class="no-underline hover:underline w-max"
            >
              {post.data.title}
            </Link>
          </Text>

          <div class="flex items-center gap-2 text-stone-400">
            <Text variant="span">
              {dayjs(post.data.pubDate).format("MMM DD, YYYY")}
            </Text>
            <div class="w-1 h-1 rounded-full bg-stone-600" />
            <Text variant="span">{10}min</Text>
          </div>
        </div>
      ))
    }
  </div>

  <!-- email section -->
  <div class="pb-6 pt-10">
    <ContactMePill />

    <div class="pt-4">
      <div class="text-stone-400 relative w-max mx-auto">
        <LetConnectIcon class="w-28 h-8" />
        <ArrowUpRightIcon class="w-4 h-4 absolute top-0 -right-5" />
      </div>
    </div>
  </div>
</BaseLayout>
