---
import { ViewTransitions } from "astro:transitions";

import Navbar from "../components/header.astro";
import "../styles/global.css";
import { cn } from "@/utils/classname";
import type { CollectionEntry } from "astro:content";

type Props = {
  class?: string;
  title?: string;
  post?: CollectionEntry<"posts">;
};

const USER = "Amit Prakash";
const { title, post, ...props } = Astro.props;

const pageTitle = title ? `${title} - ${USER}` : USER;
const metaImage = post?.data.image.url || "/favicon.jpg";
const metaURL = post?.slug || "/";
const metaDescription = post?.body?.slice(0, 100) || "Unveiled Engineering with Amit Prakash";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image" content={metaImage} />
    <meta
      property="og:url"
      content={metaURL}
    />
    <meta property="og:type" content="website" />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>

  <body class="bg-[#0C0A09]">
    <Navbar />
    <main class={cn("max-w-screen-sm px-6 mx-auto", props.class)}>
      <slot />
    </main>
  </body>
</html>
